
div contact-app {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
/* rgb(182, 70, 18) */
h1 {
    justify-content: center;
    color: rgb(182, 70, 18);
    font-weight: 750;
    font-size: 70px
}

label {
    font-size: x-large;
    color: rgb(2, 2, 71);
    font-style: inherit;
}

input {
    font-size: x-large;
    justify-content: space-evenly;
}
textarea {
    font-size: x-large;
    justify-content: space-evenly;
}
button {
    font-size: large;
    font-weight: 400;
    background-color: rgb(32, 105, 77);
    color: white;
}
p {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
    color: rgb(175, 96, 68);
}
