.scripture  {
    background-color: gold

}

.scripture-card {
    background-color: green;
    color: black;
    width: 250px;
    padding: 20px;
    margin: 10px;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    border: .5;
}
h1 {
    padding: 20px;
    }